@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ping-once {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-ping-once {
  animation: ping-once 0.3s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); /* slate-500 with 50% opacity */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 116, 139, 0.8);
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 116, 139, 0.5) transparent;
}
.custom-scrollbar:hover {
  scrollbar-color: rgba(100, 116, 139, 0.8) transparent;
}
